<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jason Ng PT: Title</title>
    <link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="main">
	  <h1>Title</h1>
      Blog Template
    </div>
    <div id="sidebar">
	  <a href="/"><img src="http://www.gravatar.com/avatar/31b62920aada78f6d8abead9e347b42e.png" border="1" /></a>
	  <p><a href="/">jason ng pt</a></p>
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="https://github.com/jasonngpt">github</a></li>
        <li><a href="https://twitter.com/jasonngpt">twitter</a></li>
      </ul>
    </div>
  </body>
</html>
